<%= form_with(model: [:admin, model], local: true, namespace: 'admin') do |form| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%- model_attributes.each do |attr| %>
    <%= field_for(form, model, attr) %>
  <%- end %>

  <%- if model.new_record? %>
    <%- new_attributes.each do |attr| %>
      <%= field_for(form, model, attr) %>
    <%- end %>
  <%- else %>
    <%- update_attributes.each do |attr| %>
      <%= field_for(form, model, attr) %>
    <%- end %>
  <%- end %>

  <div class="actions">
    <%= form.submit "Save", class: "button" %>
  </div>
<% end %>
