<%# add navigation links to this file %>
<%- if links %>
    <%- links.each do |link| %>
        <li><%= link_to link[0], link[1] %></li>
    <%- end %>
<%- else %>
    <li><%= link_to Setting.tracker_name, root_path %></li>
    <li><%= link_to "Dashboard", [:admin, "dashboard"] %></li>
    <li><%= link_to "Categories", [:admin, Category] %></li>
    <li><%= link_to "Users", [:admin, User] %></li>
    <li><%= link_to "Settings", admin_rails_settings_ui_path %></li>
    <li><%= link_to "Torrents", [:admin, Torrent] %></li>
<%- end %>
