<h1><%= current_model.to_s.pluralize %></h1>

<table>
  <thead>
    <tr>
      <%- model_attributes.each do |attr| %>
          <td><%= attr[0] %></td>
      <%- end %>
      <%- update_attributes.each do |attr| %>
          <td><%= attr[0] %></td>
      <%- end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <%- model_attributes.each do |attr| %>
          <td>
          <%- if attr[1][:formatter] %>
            <%= send(attr[1][:formatter], model.send(attr[0])) %>
          <%- else %>
            <%= model.send(attr[0]) %>
          <%- end %>
          </td>
        <%- end %>
        <%- update_attributes.each do |attr| %>
          <td>
          <%- if attr[1][:formatter] %>
            <%= send(attr[1][:formatter], model.send(attr[0])) %>
          <%- else %>
            <%= model.send(attr[0]) %>
          <%- end %>
          </td>
        <%- end %>
        <td><%= link_to 'Show', [:admin, model] %></td>
        <td><%= link_to 'Edit', [:edit, :admin, model] %></td>
        <td><%= link_to 'Destroy', [:admin, model], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New #{current_model.to_s}", [:new, :admin, current_model.to_s.underscore] %>
