<%- model_attributes.each do |attr| %>
  <p>
    <strong><%= attr[0] %></strong>
    <%- if attr[1][:formatter] %>
      <%= send(attr[1][:formatter], @model.send(attr[0])) %>
    <%- else %>
      <%= @model.send(attr[0]) %>
    <%- end %>
  </p>
<%- end %>
<%- update_attributes.each do |attr| %>
  <p>
    <strong><%= attr[0] %></strong>
    <%- if attr[1][:formatter] %>
      <%= send(attr[1][:formatter], @model.send(attr[0])) %>
    <%- else %>
      <%= @model.send(attr[0]) %>
    <%- end %>
  </p>
<%- end %>

<%= link_to 'Edit', send("edit_admin_#{current_model.to_s.underscore}_path", @model) %> |
<%= link_to 'Back', [:admin, current_model] %>
