<%= form_with(model: torrent, local: true) do |form| %>
  <% if torrent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(torrent.errors.count, "error") %> prohibited this torrent from being saved:</h2>

      <ul>
      <% torrent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :release_id, value: params[:release_id] %>

  <div class="row">
    <div class="small-3 columns">
      <%= form.label :torrent, "Torrent file" %>
    </div>
    <div class="small-9 columns">
      <%= form.file_field :torrent %>
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <%= form.label :name %>
    </div>
    <div class="small-9 columns">
      <%= form.text_field :name, value: @release.nil? ? nil : @release.name, disabled: @release.present? %>
    </div>
  </div>

  <hr />
  <%- @metadata.each do |field| %>
    <%- if lookup_context.find_all("torrents/_#{field.name}").any? %>
      <%= render partial:field.name, locals: {form: form, field: field} %>
    <%- else %>
      <div class="row">
        <div class="small-3 columns">
          <%= form.label field.name %>
        </div>
        <div class="small-4 columns">
          <%- if field.field_type == "select_field" %>
            <%= form.send("select", field.name, options_for_select(field.options), {include_blank: "Select #{field.name }"}) %>
          <% else %>
            <%= form.send(field.field_type.to_sym, field.name, placeholder: (field.name).titlecase) %>
          <%- end %>
        </div>
        <div class="small-5 columns">
          <%- if field.help_text.present? %>
              <p><small><%= field.help_text.html_safe %></small></p>
          <%- end %>
        </div>
      </div>
      <%- end %>
  <%- end %>

  <div class="actions">
    <%= form.submit "Upload", class: "button" %>
  </div>
<% end %>
