<%= form_with(model: torrent, local: true) do |form| %>
  <% if torrent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(torrent.errors.count, "error") %> prohibited this torrent from being saved:</h2>

      <ul>
      <% torrent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :release_id, value: params[:release_id] %>

  <div class="row">
    <div class="row">
      <div class="small-3 columns">
        <%= form.label :torrent, "Torrent file" %>
      </div>
      <div class="small-9 columns">
        <%= form.file_field :torrent %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="small-3 columns">
        <%= form.label :name %>
      </div>
      <div class="small-9 columns">
        <%= form.text_field :name, value: @release.nil? ? nil : @release.name %>
      </div>
    </div>
  </div>
  <%- if @category.movie? %>
    <%= render partial: 'movie', locals: { torrent: @torrent, form: form } %>
  <%- end %>

  <%- if @category.music? %>
    <%= render partial: 'music', locals: { torrent: @torrent, form: form } %>
  <%- end %>

  <%- if @category.software? %>
    <%= render partial: 'software', locals: { torrent: @torrent, form: form } %>
  <%- end %>

  <%- if @category.tv? %>
    <%= render partial: 'tv', locals: { torrent: @torrent, form: form } %>
  <%- end %>

  <%- if @category.ebook? %>
    <%= render partial: 'ebook', locals: { torrent: @torrent, form: form } %>
  <%- end %>


  <div class="actions">
    <%= form.submit "Upload", class: "button" %>
  </div>
<% end %>
