<%- content_for :title do %>
  Browse Torrents
<%- end %>
<div class="row">
  <%= form_tag '', method: :get do %>
      <%- if params[:advanced] %>
        <% p = params.permit(search_params) %>
        <% p.delete(:advanced) %>
        <%= link_to "Basic", torrents_path(p) %>
      <%- else %>
        <%= link_to "Advanced", torrents_path(params.permit(search_params).merge({advanced: true}))%>
      <%- end %>
      <div class="field row">
        <%= text_field_tag :name, params[:name], placeholder: "Name" %>
      </div>
      <div class="field row">
        <%= select_tag :category, options_from_collection_for_select(Category.all, :id, :name, (params[:category].nil? ? nil : params[:category].to_i)), include_blank: true %>
      </div>
      <%- if params[:advanced] %>

        <%- SearchField.order(sort_order: :asc).in_groups(3).each do |group| %>
          <div class="row">
            <%- group.each do |f| %>
              <%- next if f.nil? %>
              <div class="field small-4">
                <%= send f.kind, f.title || f.name, params[f.title || f.name], placeholder: (f.title || f.name).titlecase %>
              </div>  
            <%- end %>
          </div>
        <%- end %>
      <%- end %>

      <div class="actions">
        <%= submit_tag "Filter" %>
      </div>
  <% end %>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Name / Year</th>
        <th>Size</th>
        <th><%= fa_icon "clock-o", title: "Last updated" %></th>
        <th><%= fa_icon "refresh", title: "Snatches" %></th>
        <th><%= fa_icon "upload", title: "Seeders" %></th>
        <th><%= fa_icon "download", title: "Leechers" %></th>
      </tr>
    </thead>
    <tbody>
      <%- @releases.each do |release| %>
        <tr class="release-row">
          <td>
            <%= link_to release.name, torrent_path(release) %>
            <%- if release.year %>
              [<%= release.year %>]
            <%- end %>
          </td>
          <td><%= number_to_human_size release.torrents.maximum(:size) %> (MAX)</td>
          <%- updated_at = release.torrents.maximum(:updated_at) %>
          <td>
            <%- if updated_at %>
              <%= time_ago_in_words updated_at %>
            <%- else %>
              Never
            <%- end %>
          </td>
          <td><%= release.torrents.sum(:snatched) %></td>
          <td><%= release.torrents.sum(:seeders) %></td>
          <td><%= release.torrents.sum(:leechers) %></td>
        </tr>
        <%- release.torrents.each do |torrent| %>
          <tr>
            <td>
              <%= torrent.name %>
              <span style="float: right">[<%= link_to "DL", torrent_path(torrent, torrent_pass: current_user.torrent_pass, format: 'torrent') %>]</span>
            </td>
            <td><%= number_to_human_size torrent.size %></td>
            <td><%= time_ago_in_words torrent.updated_at %></td>
            <td><%= torrent.snatched %></td>
            <td><%= torrent.seeders %></td>
            <td><%= torrent.leechers %></td>
          </tr>
        <%- end %>
      <%- end %>

    </tbody>
  </table>
</div>